.wrapper {
  background-color: rgb(var(--orange-100));
  color: rgb(var(--orange-700));
  display: flex;
  height: 230px;
  width: 100%;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}
.text {
  color: rgb(var(--orange-550));
}
.container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: center;
  margin-inline: auto;
  max-width: var(--max-width);
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.copyright {
  color: rgb(var(--orange-400));
  font-size: .8rem;
  font-weight: 400;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu li {
  list-style: none;
  margin-bottom: 1rem;
}
.menu li a {
  font-size: 1rem;
  transition: all .2s ease-in-out;
}
.menu li a:hover:not(.button) {
  color: rgb(var(--orange-600));
}

.button {
  width: 100%;
  height: auto;
  background-color: rgb(var(--orange-650));
  padding: .5rem 1rem;
  border-radius: 4px;
  color: rgb(var(--white));
  &:hover {
    background-color: rgb(var(--orange-600));
    color: rgb(var(--white));
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}