@media screen and (max-width: var(--max-width)) {
  .mainContainer {
    padding: 0 1.5rem 10rem;
  }
}
@media screen and (max-width: 900px) {
  .content__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  .content__body {
    grid-template-columns: 1fr;
  }
}