:root {
  --white: 255, 255, 255; /* #fff */
  --orange-050: 255, 252, 250; /* #FFFCFA */
  --orange-100: 250, 248, 247; /* #faf8f7 */
  --orange-200: 240, 237, 235; /* #f0eddb -- used for shadows */
  --orange-300: 242, 239, 237; /* #f2efed */
  --orange-400: 191, 189, 187; /* #bfbdbb */
  --orange-500: 179, 176, 175; /* #b3b0af */
  --orange-650: 219, 117, 44; /* #DB752C */
  --orange-600: 193, 81, 0; /* #c15100 */
  --orange-900: 51, 21, 0; /* #331500 */
  --black: 0, 0, 0;

  --max-width: 1250px;
  --max-read-width: 800px;
}
